<!--The content below is only a placeholder and can be replaced
<tree-root [nodes]="nodes" [options]="options"></tree-root---->
  
  
  <tree-root [nodes]="nodes">
    <ng-template #treeNodeTemplate let-node let-index="index">
    
      <mat-card class="card">
         
          <mat-card-content>
            <span>
               <mat-icon color="accent">{{ node.data.icon}}</mat-icon> 
             {{ node.data.name}}
          </span>
          </mat-card-content>
        </mat-card>

        
    </ng-template>
  </tree-root>

  


  